---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fullstack Developer | Leopoldo Lira">
  <main class="w-full h-screen flex justify-center items-center">
    <div class="grid grid-cols-3 gap-5 w-4/5 h-[65%]">
        <a class="col-start-1 col-end-3" href="/about">
          <div transition:name="photo-container" class="transition duration ease-in-out hover:shadow hover:shadow-white hover:bg-[#c7d1ff] h-[15rem] w-full bg-[#c7d1ff] rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30 border border-gray-100">
            <div class="flex justify-center items-center h-full gap-5 px-5">
                <img transition:name="photo" class="w-[25%]" src="/imgs/leo.png" width="100" height="100" alt="A photo of Leopoldo Lira"/>
                <p class="text-2xl leading-9 text-white">
                  My Name is Leopoldo Lira, I'm a Software Developer based on Nicaragua that focuses in both Backend and Frontend, my prefered Technologies are React and Django.
              </p>
            </div>
          </div>
        </a>
        <a href='/skills'>
          <div class="h-[15rem] w-full bg-purple-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30 border border-gray-100">
          <div class="flex items-center justify-center h-full flex-col gap-5">
            <h2 transition:name="skillsheading" class="text-white text-5xl">{`<Skills />`}</h2>
            <div class="flex items-center justify-center gap-5">
              <span class="inline-block">
                <svg transition:name="react-icon" class="animate-spin-slow" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="65" height="65" viewBox="0 0 48 48">
                    <path fill="#80deea" d="M24,34C11.1,34,1,29.6,1,24c0-5.6,10.1-10,23-10c12.9,0,23,4.4,23,10C47,29.6,36.9,34,24,34z M24,16	c-12.6,0-21,4.1-21,8c0,3.9,8.4,8,21,8s21-4.1,21-8C45,20.1,36.6,16,24,16z"></path><path fill="#80deea" d="M15.1,44.6c-1,0-1.8-0.2-2.6-0.7C7.6,41.1,8.9,30.2,15.3,19l0,0c3-5.2,6.7-9.6,10.3-12.4c3.9-3,7.4-3.9,9.8-2.5	c2.5,1.4,3.4,4.9,2.8,9.8c-0.6,4.6-2.6,10-5.6,15.2c-3,5.2-6.7,9.6-10.3,12.4C19.7,43.5,17.2,44.6,15.1,44.6z M32.9,5.4	c-1.6,0-3.7,0.9-6,2.7c-3.4,2.7-6.9,6.9-9.8,11.9l0,0c-6.3,10.9-6.9,20.3-3.6,22.2c1.7,1,4.5,0.1,7.6-2.3c3.4-2.7,6.9-6.9,9.8-11.9	c2.9-5,4.8-10.1,5.4-14.4c0.5-4-0.1-6.8-1.8-7.8C34,5.6,33.5,5.4,32.9,5.4z"></path><path fill="#80deea" d="M33,44.6c-5,0-12.2-6.1-17.6-15.6C8.9,17.8,7.6,6.9,12.5,4.1l0,0C17.4,1.3,26.2,7.8,32.7,19	c3,5.2,5,10.6,5.6,15.2c0.7,4.9-0.3,8.3-2.8,9.8C34.7,44.4,33.9,44.6,33,44.6z M13.5,5.8c-3.3,1.9-2.7,11.3,3.6,22.2	c6.3,10.9,14.1,16.1,17.4,14.2c1.7-1,2.3-3.8,1.8-7.8c-0.6-4.3-2.5-9.4-5.4-14.4C24.6,9.1,16.8,3.9,13.5,5.8L13.5,5.8z"></path><circle cx="24" cy="24" r="4" fill="#80deea"></circle>
                </svg>
            </span> 
            <span class="inline-block">
              <svg transition:name="django-svg" class="animate-pulse" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="65" height="65" viewBox="0,0,256,256" style="fill:#000000;">
              <g fill="#113527" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M21,4h4v4h-4zM25,22.754c0,1.35 -0.317,5.799 -4.242,7.149l-3.758,-1.903c2.806,-1.224 4,-3.2 4,-5.246c0,-2.828 0,-11.754 0,-11.754l4,0.002c0,0 0,8.713 0,11.752zM14,4v6.302c-0.469,-0.191 -1.48,-0.228 -1.978,-0.228c-3.749,0 -7.022,1.937 -7.022,6.926c0,5.969 4.504,6.997 7.65,6.997c1.242,0 4,-0.122 5.35,-0.513v-19.484zM12.609,20.666c-1.769,0 -3.609,-0.803 -3.609,-3.666c0,-2.863 1.84,-3.469 3.609,-3.469c0.432,0 0.918,0.081 1.391,0.189v6.757c-0.472,0.107 -0.958,0.189 -1.391,0.189z"></path></g></g>
              </svg>
          </span>
            </div>
          </div>
          </div>
        </a>
        <a href='/'>
          <div class="h-[15rem] w-full bg-purple-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30 border border-gray-100">
          <div class="flex items-center justify-center h-full">
            <h2 class="text-white text-5xl">{`<Experience />`}</h2>
          </div>
          </div>
        </a>
        <a transition:name="projects-container" href='/projects'>
          <div class="h-[15rem] w-full bg-purple-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30 border border-gray-100">
          <div class="flex items-center justify-center h-full">
            <h2 transition:name="projectheading" class="text-white text-5xl">{`<Projects />`}</h2>
          </div>
          </div>
        </a>
        <a transition:name="contact-container" href='/contact'>
          <div  class="h-[15rem] w-full bg-purple-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30 border border-gray-100">
          <div  class="flex items-center justify-center h-full">
            <h2 transition:name="contactheading" class="text-white text-5xl">{`<Contact />`}</h2>
          </div>
          </div>
        </a>
    </div>
  </main>
</Layout>
