---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Fullstack Developer | Leopoldo Lira">
  <main class="w-full flex justify-center items-center">
    <div class="py-10 mobile:px-5 px-[5rem] grid grid-cols-3 mobile:grid-cols-1 sm-laptop:grid-cols-2 tablet:grid-cols-1 gap-10">
    
    <!-- About Container -->
    <div id="about-container" class="observer__item bg-black/25 rounded-3xl flex justify-center flex-col px-7 tablet:py-[15rem] mobile:py-[10rem]">
        <h1 class="italic font-medium text-white">Based in Nicaragua, delivering customizable WordPress solutions and full-stack apps with Django and React.</h1>
        <p class="text-white font-thin">Hello 👋, I'm Leopoldo a Software Developer with 4+ Years of experience.</p>
    </div>


      <!-- Frotend Skills -->
        <div id="frontend__skills" class="observer__item bg-black/50 rounded-3xl ">
            <div class="flex items-center justify-center">
                <div class="grid grid-cols-3 gap-10 py-[4rem]">
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src='svgs/html.svg' alt='HTML Logo' />
                    </div>

                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src='svgs/css.svg' alt='CSS Logo' />
                    </div>

                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src='svgs/js.svg' alt='JavaScript Logo' />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src='svgs/jest.svg' alt='Jest Logo' />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src="/svgs/tailwind.svg" alt="Tailwind Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src="/svgs/react.svg" alt="React Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src="/svgs/astro.svg" alt="Astro Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src="/svgs/sass.svg" alt="Sas Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='w-[3rem]' src='/svgs/ts.svg' width='50' height='50' alt='Typescript Logo' />
                    </div>
                </div>
            </div>
        </div>

        <!-- Backend Skills -->
        <div id="backend__skills"  class="observer__item bg-white/[0.9] rounded-3xl flex items-center justify-center">
            <div class="">
              <div class="grid grid-cols-3 gap-10 py-10">
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/python.svg' alt='Python programming language logo' />
                  </div>

                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/django.svg' alt='django programming language logo' />
                  </div>

                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/wordpress.svg' alt='WordPress CMS Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/mysql.svg' alt='My SQL Logo' />
                   
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/auth.svg' alt='JSON Web Token Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/aws.svg' alt='AWS Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/docker.svg' alt='Docker Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/node.svg' alt='Node JS Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='w-[3rem]' src='/svgs/express.svg' alt='Express JS Logo' />
                  </div>
              </div>
          </div>
        </div>
        

          <!-- Movienies Project Container -->
          <section id="project__movienies" class="observer__item bg-black/25 flex flex-col gap-5 rounded-3xl">
            <img class="rounded-t-3xl" src='imgs/movienies.jpg' alt='Movinies APP' />
            <div class="px-5 sm-laptop:py-5 tablet:py-5 mobile:py-5 flex flex-col gap-5">
              <h2 class="text-white font-bold text-3xl">Movienies.</h2>
              <div class="flex gap-2">
                <img class="w-[40px]" alt='React Logo' src='/svgs/react.svg' />
                <img class="w-[40px]" alt='Django Logo' src='/svgs/django.svg' />
                <img class="w-[40px]" alt='Tailwind Logo' src='/svgs/tailwind.svg' />
                <img class="w-[40px]" alt='AWS Logo' src='/svgs/aws.svg' />
              </div>
              <p class="text-gray-300">Movienes. is an App where you can create an Account and start Comment and Rate different movies.</p>
              <a target="_blank" href="https://movienies.netlify.app" class="flex items-center justify-center py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </section>



          <section id="project__content" class="observer__item bg-black/25 flex flex-col gap-5 rounded-3xl">
            <img class="rounded-t-3xl" src='imgs/contentw.jpg' alt='Content Writers App' />
            <div class="px-5 flex flex-col tablet:py-5 mobile:py-5 gap-5 ">
              <h2 class="text-white font-bold text-3xl ">Content Writers</h2>
              <div class="flex gap-2">
                <img class="w-[40px]" alt="WordPress Logo" src='/svgs/wordpress.svg' />
                <img class="w-[40px]" alt="SASS Logo" src='/svgs/sass.svg' />
                <img class="w-[40px]" alt="Figma Logo" src='/svgs/figma.svg' />
              </div>
              <p class="text-gray-300">24/7 Content Writers is a page that offers SEO Services. Built with WordPress and Fully customizable with ACF.</p>
              <a target='_blank' href="https://247contentwriters.infinityfreeapp.com/" class="flex items-center justify-center py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </section>

          <section id="project__greenberg" class="observer__item bg-black/25 rounded-3xl">
            <img class="rounded-t-3xl" src='imgs/greenberg.jpg' alt='Movinies APP' />
            <div class="p-5 flex flex-col gap-5">
              <h2 class="text-white font-bold text-3xl ">Greenberg & Stein</h2>
              <div class="flex gap-2">
                <img class="w-[40px]" alt="WordPress Logo" src='/svgs/wordpress.svg' />
                <img class="w-[40px]" alt="Figma Logo" src='/svgs/figma.svg' />
                <img class="w-[40px]" alt="SASS Logo" src='/svgs/sass.svg' />
              </div>
              <p class="text-gray-300">Greenberg & Stein is a well known Legal firm that offers Legal services. Built with WordPress and Fully customizable with ACF.</p>
              <a target='_blank' href="https://greenbergandstein.com/" class="flex items-center justify-center py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </section>

          <div id="project__clothongboutique" class="observer__item bg-black/25 w-full rounded-3xl ">
            <img class="rounded-t-3xl" src='imgs/clothing.png' alt='Image of Clothing Boutique landing page' />
            <div class="p-5 flex flex-col gap-5 ">
              <h2 class="text-white font-bold text-3xl">ClothingBoutique</h2>
              <div class="flex gap-2">
                <img class="w-[40px]" alt="WordPress Logo" src='/svgs/wordpress.svg' />
                <img class="w-[40px]" alt="SASS Logo" src='/svgs/sass.svg' />
              </div>
              <p class="text-gray-300">A stylish WordPress site crafted to highlight the latest clothing collections. With custom designs, an interactive product catalog, and user-friendly functionality.</p>
              <a target='_blank' href="https://clothingboutique.infinityfreeapp.com/" class="flex items-center justify-center py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </div>

          <div id="project__multiservices" class="observer__item bg-black/25 w-full rounded-3xl">
            <img class="rounded-t-3xl" src='imgs/multiservices.png' alt='Movinies APP' />
            <div class="p-5 flex flex-col gap-5">
              <h2 class="text-white font-bold text-3xl ">Multiservices</h2>
              <div class="flex gap-2">
                <img class="w-[40px]" alt="WordPress Logo" src='/svgs/wordpress.svg' />
                <img class="w-[40px]" alt="SASS Logo" src='/svgs/sass.svg' />
              </div>
              <p class="text-gray-300">A custom WordPress website designed to showcase and manage IT services and products. Built for seamless user experience, it features intuitive navigation and a tailored catalog.</p>
              <a target='_blank' href="https://multiservices.infinityfreeapp.com/" class="flex items-center justify-center py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </div>
          


          <!-- Github Container -->
          <div id="github" class="observer__item bg-black/70 rounded-3xl">
            <a target="_blank" href='https://github.com/LeopoldoLira'>
              <div id="github-blend" class="flex items-center justify-center h-full">
                <img class='transition ease-in-out hover:scale-[1.1] mobile-l:w-[150px] smallLaptop:w-[150px] 4k:w-[250px]' src='/svgs/github.svg' alt='Github Logo' />
              </div>
            </a>
          </div>


          <!-- Contact Container -->
          <div id="contact" class="observer__item bg-black/50  rounded-3xl">
            <a href='mailto:lira.leopoldo97@gmail.com'>
              <div class="flex items-center justify-center items-center py-[5rem]">
                <img class='w-50' src='/svgs/contact.svg' alt='Email Contact Logo' />
              </div>
            </a>  
          </div>

          <!-- Linkedin Icon Container -->
          
          <div id="linkedin" class="observer__item  bg-[#0e76a8] rounded-3xl">
            <a target="_blank" href='https://www.linkedin.com/in/leopoldo-lira-b70b52116/'>
              <div class="flex items-center justify-center items-center py-[5rem]">
                <img class='w-50' src='/svgs/linkedin.svg' alt="Linkedin Logo" />
              </div>
            </a>  
          </div>

          <div id="catgif" class="observer__item rounded-3xl tablet:py-[15rem] mobile:py-[10rem]">
            <a target="_blank" href='https://www.linkedin.com/in/leopoldo-lira-b70b52116/'>
              <div class="flex items-center justify-center items-center ">
              </div>
            </a>  
          </div>
         
    </div>
  </main>
</HomeLayout>


<style>




#about-container{
  background-image: url('/imgs/leo.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 120%;
  transition: opacity 300ms ease-in-out;

}

#frontend__skills{
  transition: opacity 700ms ease-in-out;
}
#backend__skills{
  transition: opacity 1500ms ease-in-out;
}

#project__movienies{
  transition: opacity 700ms ease-in-out, scale 200ms ease-in-out;
}
#project__content{
  transition: opacity 1500ms ease-in-out, scale 200ms ease-in-out;
}

#project__greenberg{
  transition: opacity 300ms ease-in-out, scale 200ms ease-in-out;
}

#github{
  transition: opacity 700ms ease-in-out, scale 200ms ease-in-out;
}

#contact{
  transition: opacity 1500ms ease-in-out, scale 200ms ease-in-out;
}


#linkedin{
  transition: opacity 2000ms ease-in-out, scale 200ms ease-in-out;
}

#catgif{
  background-image: url('/imgs/cat-typing.gif');
  background-position: center;
  background-size: cover;
}

 
#contact:hover, 
#linkedin:hover{
  box-shadow: 0px 0px 2px 1px rgba(255,255,255, 1);
  scale: 1.01;
}

#project__movienies:hover, 
#project__content:hover, 
#project__greenberg:hover, 
#github:hover{
  box-shadow: 0px 0px 2px 1px rgba(255,255,255, 1);
  scale: 1.01;
}

.observer__item{
  opacity: 0;
}

@media (min-width:1px) and (max-width:425px){
  #about-container{
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 105%;
  }
}


@media (min-width:426px) and (max-width:768px){
  #about-container{
    background-size: 50%;
  }
}



@media (min-width:769px) and (max-width:1024px){
  #about-container{
    background-size: 40%;
  }
}

@media (min-width:1025px) and (min-width:2560px){
  #about-container{
    background-size: 50%;
  }
}

</style>

<script>
  const observerItems = document.querySelectorAll('.observer__item');

const options = {
  root:null,
  rootMargin:'0px',
  threshold:0.5
}

function handleIntersection(entries, observer){
  entries.forEach(entry =>{
    if (entry.isIntersecting){
      entry.target.style.opacity = 1;
      observer.unobserve(entry.target)
    }
  })
}

const observer = new IntersectionObserver(handleIntersection, options);

observerItems.forEach(item =>{
  observer.observe(item)
})
</script>