---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Fullstack Developer | Leopoldo Lira">
  <main class="w-full min-h-fit flex justify-center items-center">
    <div class="py-10 grid grid-cols-4 grid-rows-layout tablet:grid-rows-tabletlayout mobile-l:grid-rows-mobilelargelayout smallLaptop:grid-rows-smallLaptop 4k:grid-rows-4k 4k:w-[80%] mobile-l:w-[85%] tablet:w-[90%] smallLaptop:w-[90%] gap-5 w-[75%]">
    
    <!-- About Container -->
    <div id="about-container" class="observer__item tablet:col-start-1 tablet:col-end-5 bg-black/25 col-start-1 col-end-4 row-start-1 row-end-3 mobile-l:row-end-3 w-full rounded-3xl">
      <div class="flex justify-center items-center flex-col h-full pl-[18rem] mobile-l:pl-0 gap-10 mobile-l:gap-5 4k:pl-[25rem]">
        <h1 class='mobile-l:text-2xl 4k:text-[2.5rem] text-3xl italic font-medium text-white w-[90%]'>Hello 👋, I'm Leo a Software Developer with 4+ Years of experience.</h1>
        <p class='mobile-l:text-[1rem] text-2xl 4k:text-[2rem] text-white w-[90%] mobile-l:px-0 font-thin'>Based in Nicaragua, with expertise in both Frontend And Backend using React and Django.</p>
      </div>
    </div>


      <!-- Frotend Skills -->
        <div id="frontend__skills" class="observer__item bg-black/50 col-start-4 col-end-5 tablet:col-start-1 tablet:col-end-3 mobile-l:col-start-1 mobile-l:col-end-3 w-full rounded-3xl ">
            <div class="flex items-center justify-center items-center h-full">
                <div class="grid grid-cols-3 grid-rows-3 gap-5 mobile-l:gap-1 w-[80%] smallLaptop:gap-6 4k:gap-[3rem]">
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='svgs/html.svg' alt='HTML Logo' />
                    </div>

                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='svgs/css.svg' alt='CSS Logo' />
                    </div>

                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='svgs/js.svg' alt='JavaScript Logo' />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='svgs/jest.svg' alt='Jest Logo' />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src="/svgs/tailwind.svg" alt="Tailwind Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src="/svgs/react.svg" alt="React Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src="/svgs/astro.svg" alt="Astro Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src="/svgs/sass.svg" alt="Sas Logo" />
                    </div>
                    <div class="flex items-center justify-center">
                      <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/ts.svg' width='50' height='50' alt='Typescript Logo' />
                    </div>
                </div>
            </div>
        </div>

        <!-- Backend Skills -->
        <div id="backend__skills"  class="observer__item bg-white/[0.9] col-start-4 col-end-5 tablet:col-start-3 tablet:col-end-5 mobile-l:col-start-3 mobile-l:col-end-5 w-full rounded-3xl">
            <div class="flex items-center justify-center items-center h-full">
              <div class="grid grid-cols-3 grid-rows-3 gap-5 w-[80%] mobile-l:gap-1 smallLaptop:gap-6 4k:gap-[3rem]">
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/python.svg' alt='Python programming language logo' />
                  </div>

                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/django.svg' alt='django programming language logo' />
                  </div>

                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/wordpress.svg' alt='WordPress CMS Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/mysql.svg' alt='My SQL Logo' />
                   
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/auth.svg' alt='JSON Web Token Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/aws.svg' alt='AWS Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/docker.svg' alt='Docker Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/node.svg' alt='Node JS Logo' />
                  </div>
                  <div class="flex items-center justify-center">
                    <img class='mobile-l:w-[25px] smallLaptop:w-[35px] 4k:w-[75px]' src='/svgs/express.svg' alt='Express JS Logo' />
                  </div>
              </div>
          </div>
        </div>
        

          <!-- Movienies Project Container -->
          <section id="project__movienies" class="observer__item bg-black/25 flex flex-col gap-5 w-full rounded-3xl tablet:col-start-1 tablet:col-end-5 col-start-1 col-end-3 row-start-3 row-end-5 tablet:row-start-4 tablet:row-end-6 mobile-l:col-start-1 mobile-l:col-end-5 mobile-l:row-start-4 mobile-l:row-end-6">
            <img class="rounded-t-3xl" src='imgs/movienies.jpg' alt='Movinies APP' />
            <div class="4k:p-10 px-5 flex flex-col gap-5 mobile-l:gap-3">
              <h2 class="text-white font-bold text-5xl mobile-l:text-sm smallLaptop:text-[2rem] 4k:text-[5rem]">Movienies.</h2>
              <div class="flex gap-2 4k:gap-5">
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt='React Logo' src='/svgs/react.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt='Django Logo' src='/svgs/django.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt='Tailwind Logo' src='/svgs/tailwind.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt='AWS Logo' src='/svgs/aws.svg' />
              </div>
              <p class="text-gray-100 mobile-l:text-sm 4k:text-[2rem]">Movienes. is an App where you can create an Account and start Comment and Rate different movies.</p>
              <a target="_blank" href="https://movienies.netlify.app" class="mobile-l:w-[45%] w-[35%] flex items-center justify-center mobile-l:px-2 mobile-l:py-1 px-3 py-2 text-sm 4k:py-5 4k:text-3xl font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </section>



          <div id="project__content" class="observer__item bg-black/25 w-full rounded-3xl tablet:col-start-1 tablet:col-end-5 col-start-3 col-end-5 row-start-3 row-end-5 tablet:row-start-6 tablet:row-end-[8] mobile-l:col-start-1 mobile-l:col-end-5 mobile-l:row-start-6 mobile-l:row-end-[8]">
            <img class="rounded-t-3xl" src='imgs/contentw.jpg' alt='Content Writers App' />
            <div class="p-5 4k:px-10 4k:py-[4rem]  flex flex-col gap-5 mobile-l:gap-3">
              <h2 class="text-white font-bold text-5xl mobile-l:text-sm smallLaptop:text-[2rem] 4k:text-[5rem]">24/7 Content Writers</h2>
              <div class="flex gap-2">
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt="WordPress Logo" src='/svgs/wordpress.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt="SASS Logo" src='/svgs/sass.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt="Figma Logo" src='/svgs/figma.svg' />
              </div>
              <p class="text-gray-100 mobile-l:text-sm 4k:text-[2rem]">24/7 Content Writers is a page that offers SEO Services. Built with WordPress and Fully customizable with ACF.</p>
              <a target='_blank' href="https://staging2.247contentwriters.com/" class="4k:py-5 4k:text-3xl mobile-l:w-[45%] w-[35%] flex items-center justify-center mobile-l:px-2 mobile-l:py-1 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </div>

          <div id="project__greenberg" class="observer__item bg-black/25 w-full rounded-3xl tablet:col-start-1 tablet:col-end-5 col-start-1 col-end-3 row-start-5 row-end-7 tablet:row-start-[8] tablet:row-end-[10] mobile-l:col-start-1 mobile-l:col-end-5 mobile-l:row-start-[8] mobile-l:row-end-[10]">
            <img class="rounded-t-3xl" src='imgs/greenberg.jpg' alt='Movinies APP' />
            <div class="4k:p-10 p-5 flex flex-col gap-5 mobile-l:gap-3">
              <h2 class="text-white font-bold text-5xl mobile-l:text-sm smallLaptop:text-[2rem] 4k:text-[5rem]">Greenberg & Stein</h2>
              <div class="flex gap-2">
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt="WordPress Logo" src='/svgs/wordpress.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt="Figma Logo" src='/svgs/figma.svg' />
                <img class="w-[50px] mobile-l:w-[25px] 4k:w-[75px]" alt="SASS Logo" src='/svgs/sass.svg' />
              </div>
              <p class="text-gray-100 mobile-l:text-sm 4k:text-[2rem]">Greenberg & Stein is a well known Legal firm that offers Legal services. Built with WordPress and Fully customizable with ACF.</p>
              <a target='_blank' href="https://staging3.greenbergandstein.com/" class="4k:py-5 4k:text-3xl mobile-l:w-[45%] w-[35%] flex items-center justify-center mobile-l:px-2 mobile-l:py-1 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Go to Project
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </div>
          


          <!-- Github Container -->
          <div id="github" class="observer__item bg-black/70 w-full rounded-3xl col-start-3 col-end-5 tablet:col-start-1 tablet:col-end-5 mobile-l:row-start-[10] mobile-l:row-end-[11] tablet-l:row-start-[10] tablet-l:row-end-[11]">
            <a target="_blank" href='https://github.com/LeopoldoLira'>
              <div id="github-blend" class="flex items-center justify-center h-full">
                <img class='transition ease-in-out hover:scale-[1.1] mobile-l:w-[150px] smallLaptop:w-[150px] 4k:w-[300px]' src='/svgs/github.svg' alt='Github Logo' />
              </div>
            </a>
          </div>


          <!-- Contact Container -->
          <div id="contact" class="observer__item bg-black/50 col-start-3 col-end-4 tablet:col-start-1 tablet:col-end-3 mobile-l:col-start-1 mobile-l:col-end-3 mobile-l:row-start-[11] mobile-l:row-end-[12] w-full rounded-3xl tablet:row-start-[11] tablet:row-end-[12]">
            <a href='mailto:lira.leopoldo97@gmail.com'>
              <div class="flex items-center justify-center items-center h-full">
                <img class='mobile-l:w-[100px] smallLaptop:w-[150px] 4k:w-[300px]' src='/svgs/contact.svg' alt='Email Contact Logo' />
              </div>
            </a>  
          </div>

          <!-- Linkedin Icon Container -->
          
          <div id="linkedin" class="observer__item col-start-4 col-end-5 tablet:col-start-3 tablet:col-end-5 mobile-l:col-start-3 mobile-l:col-end-5 mobile-l:row-start-[11] mobile-l:row-end-[12] w-full bg-[#0e76a8] rounded-3xl tablet:row-start-[11] tablet:row-end-[12]">
            <a target="_blank" href='https://www.linkedin.com/in/leopoldo-lira-b70b52116/'>
              <div class="flex items-center justify-center items-center h-full">
                <img class='mobile-l:w-[100px] smallLaptop:w-[150px] 4k:w-[300px]' src='/svgs/linkedin.svg' alt="Linkedin Logo" />
              </div>
            </a>  
          </div>


         
    </div>
  </main>
</HomeLayout>


<style>




#about-container{
  background-image: url('/imgs/leo.png');
  background-size: normal;
  background-repeat: no-repeat;
  background-position-x: -20%;
  background-position-y: 120%;
  transition: opacity 300ms ease-in-out;

}

#frontend__skills{
  transition: opacity 700ms ease-in-out;
}
#backend__skills{
  transition: opacity 1500ms ease-in-out;
}

#project__movienies{
  transition: opacity 700ms ease-in-out, scale 300ms ease-in-out;
}
#project__content{
  transition: opacity 1500ms ease-in-out, scale 300ms ease-in-out;
}

#project__greenberg{
  transition: opacity 300ms ease-in-out, scale 300ms ease-in-out;
}

#github{
  transition: opacity 700ms ease-in-out, scale 300ms ease-in-out;
}

#contact{
  transition: opacity 1500ms ease-in-out, scale 300ms ease-in-out;
}


#linkedin{
  transition: opacity 2000ms ease-in-out, scale 300ms ease-in-out;
}

 
#contact:hover, 
#linkedin:hover{
  box-shadow: 0px 0px 2px 1px rgba(255,255,255, 1);
  scale: 1.01;
}

#project__movienies:hover, 
#project__content:hover, 
#project__greenberg:hover, 
#github:hover{
  box-shadow: 0px 0px 2px 1px rgba(255,255,255, 1);
  scale: 1.01;
}

.observer__item{
  opacity: 0;
}



@media screen and (max-width:768px){
  #about-container{
    background-size: 65%;
  }
}

@media screen and (max-width:425px){
  #about-container{
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 125%;
  }
}

@media screen and (max-width:1024px){
  #about-container{
    background-size: 55%;
  }
}

@media screen and (min-width:2560px){
  #about-container{
    background-size: 50%;
  }
}

</style>

<script>
  const observerItems = document.querySelectorAll('.observer__item');

const options = {
  root:null,
  rootMargin:'0px',
  threshold:0.5
}

function handleIntersection(entries, observer){
  entries.forEach(entry =>{
    if (entry.isIntersecting){
      entry.target.style.opacity = 1;
      observer.unobserve(entry.target)
    }
  })
}

const observer = new IntersectionObserver(handleIntersection, options);

observerItems.forEach(item =>{
  observer.observe(item)
})
</script>