---
import Layout from "../layouts/HomeLayout.astro";
---

<Layout title="About myself | Leopoldo Lira" >
    <main class="w-full flex items-center justify-center h-screen pt-10 ">
        <div transition:name="projects-container" class="flex items-center w-[85%] h-auto mt-10 py-5 bg-[#c7d1ff] rounded-md bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30 border border-gray-100">
           <div class="flex justify-center items-center flex-col w-full px-5 gap-5">
                <h1 transition:name="projectheading" class="text-white text-5xl">{`<Projects />`}</h1>
                <div class="w-full flex items-center justify-center gap-5 items-stretch">

                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-700 dark:border-gray-700">
                        <a href="https://movienies.netlify.app">
                            <img class="rounded-t-lg" src="/imgs/movienies.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="https://movienies.netlify.app">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Movienies.</h5>
                            </a>
                            <div class="flex gap-2">
                                <img width="35" height="35" src="/svgs/react.svg"/>
                                <img width="35" height="35" src="/svgs/django.svg"/>
                                <img width="35" height="35" src="/svgs/aws.svg"/>
                            </div>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Movienes. is an App where you can create an Account and start Comment and Rate different movies.</p>
                            
                            <a href="https://movienies.netlify.app" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Go to Project
                                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-700 dark:border-gray-700">
                        <a href="https://staging2.247contentwriters.com/">
                            <img class="rounded-t-lg" src="/imgs/contentw.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="https://staging2.247contentwriters.com/">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">24/7 Content Writers</h5>
                            </a>
                            <div class="flex gap-2">
                                <img width="35" height="35" src="/svgs/wordpress.svg"/>
                                <img width="35" height="35" src="/svgs/sass.svg"/>
                                <img width="35" height="35" src="/svgs/figma.svg"/>
                            </div>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">24/7 Content Writers is a page that offers SEO Services.</p>
                            <a href="https://staging2.247contentwriters.com/" class="mt-auto inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Go to Project
                                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-700 dark:border-gray-700">
                        <a href="https://staging3.greenbergandstein.com/">
                            <img class="rounded-t-lg" src="/imgs/greenberg.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="https://staging3.greenbergandstein.com/">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Greenberg & Stein</h5>
                            </a>
                            <div class="flex gap-2">
                                <img width="35" height="35" src="/svgs/wordpress.svg"/>
                                <img width="35" height="35" src="/svgs/figma.svg"/>
                                <img width="35" height="35" src="/svgs/sass.svg"/>
                            </div>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Greenberg & Stein is a well known Legal firm that offers Legal services.</p>
                            <a href="https://staging3.greenbergandstein.com/" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Go to Project
                                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>
</Layout>