---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-[#111111]">
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "NotoSans";
    src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: system-ui, sans-serif;
  }
</style>
